header,
hgroup,
nav,
footer,
figure,
figcaption,
aside,
section,
article {
    display: block;
}

body {
    background-color: #333333;
    background-image: url("img/background.jpg");
    background-repeat: repeat-x;
    font-family: Arial, Helvetica, sans-serif;
    color: #666;
}

header {
    background-color: #003;
    color: white;
    background-image: url(img/sunset.jpg);
    background-repeat: no-repeat;
    background-position: right;
}

nav {
    padding: 20px 20px 5px 5px;
    font-weight: bold;
    float: left;
    width: 160px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 20px;
    font-size: 1.2em;
}

nav a {
    text-decoration: none;
}

nav a:link {
    color: #000033;
}

nav a:visited {
    color: #344873;
}

nav a:hover {
    color: #ffffff;
}
h1,h2,h3 {
    font-family: Georgia, "Times New Roman", serif;
}

h1 {
    margin-bottom: 0;
    padding: 10px;
}

h2 {
    color: #39C;
    text-shadow: 1px 1px 1px #ccc;
}

dt {
    color: #003;
}

.resort {
    color: #5C7FA3;
    font-weight: bold;
}

h3 {
	color: #003;
}

#content {
    background-color: white;
    margin-left: 190px;
    padding: 20px;
    padding-left: 30px;
    padding-top: 0px;
    overflow: auto;
}

#content ul {
    list-style-position: inside;
	list-style-image: url(img/favicon.ico);
}

#content img {
    float: left;
    padding-right: 20px;
    max-width: 100%;
    height: auto;
}

#wrapper {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #90c7e3;
    min-width: 960px;
    box-shadow: 5px 5px 5px #000033;
}

footer {
    font-style: italic;
    font-size: small;
    padding: 20px;
    margin-left: 190px;
    background-color: #ffffff;
}

table {
    border: 1px solid #3399cc;
    width: 80%;
    border-spacing: 0;
    border-collapse: collapse;
}

td, th {
    padding: 5px;
    border: 1px solid #3399cc;
}

td {
    text-align: center;
}

.text {
    text-align: left;
}

tbody tr:nth-of-type(odd) {
    background-color: #f5fafc;
}

thead {
    background-color: #666;
    color: #eaeaea;
}

form {
    width: 100%;
}

label {
    float: left;
    clear: left;
    display: block;
    text-align: right;
    width: 120px;
    padding-right: 10px;
}

input, textarea {
    display: block;
    
    margin-bottom: 20px;
}



#mobile {
    display: none;
}

#desktop {
    display: inline;
}



@media only screen and (max-width: 768px) {
    body {
        margin: 0;
    }

    #wrapper {
        min-width: 0;
        margin: auto;
    }

    #content {
        margin-left: 0;
    }

    nav {
        float: none;
        width: auto;
        padding: 0.5em;
    }

    nav ul {
        text-align: center;
    }

    nav li {
        display: inline;
        padding: 0 0.75em;
    }

    footer {
        margin-left: 0;
    }
}

@media only screen and (max-width: 480px) {
    body {
        margin: 0;
    }

    #wrapper {
        min-width: 0;
        widows: auto;
        padding: 0;
    }

    #content {
        padding: 0.1em 1em;
        margin: 0;
        font-size: 90%;
    }

    h1 {
        margin: 0;
        font-size: 1.5em;
        padding-left: 0.3em;
    }

    nav ul {
        padding: 0;
    }

    nav li {
        display: block;
        margin: 0;
        border-bottom: 2px solid #330000;
    }

    nav a {
        display: block;
    }

    #content img {
        float: none;
        padding: 0;
        margin: 0.1em;
    }

    #content ul {
        list-style-position: outside;
    }

    #mobile {
        display: inline;
    }

    #desktop {
        display: none;
    }

    label {
        float: none;
        text-align: left;
    }
}