

* {
    padding: 0;
    margin: 0;
}

header {
    text-align: center;
    height: 100px;
    
}

aside {
    position: fixed;   
    width: 300px;
    height: auto;
    left:0px;
    top: 100px;
    text-align: center;

}

#main {
    
   margin-left: 305px;
   padding: 10px 0;
}

.briefBlog {
    margin: .75em;
    border-style: solid;
    border-color: black;
    
}

.briefBlog header {
    margin: 0px;
    padding: 0px;
    height: auto; 
}

.briefBlog .dateTime {
    text-align: right;
}